# Dependencies
node_modules

# Build
dist
storybook-static

# Caches / tooling
.turbo
.cache
*.tsbuildinfo
coverage

# Env / OS
.env
.env.*
.DS_Store

# IDE
.idea


# Logs
*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-store
